/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}

body {
  margin: 0 auto;
  font-family: Kodchasan;
	word-wrap: break-word;
}

nav {
  display:  flex;
  align-items: center;
  position: fixed;
  top: 0;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: #005780;
  color: white;
}

.sign-log-in-buttons {
  display: flex;
  flex-direction: row;
  width: 195px;
  justify-content: flex-end;
}

.user-buttons {
  display: inline-block;
  font-size: 12px;
  padding: 0;
  background-color: white;
  color: black;
  border: none;
  width: 70px;
  height: 30px;
  box-sizing: content-box;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  line-height: 30px;
	margin-left:10px;
  cursor: pointer;
}

.user-buttons:hover {
	background-color: #eaf0ff;
}

.user-buttons:active {
	background-color: #cccccc;
}

main {
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
}

h1 a {
	text-decoration: none;
  font-size: 25px;
	color: white;
}

h2 {
  font-size: 25px;
	margin-bottom: 5px;
}

.all-users-link {
	text-decoration: none;
	margin-bottom: 5px;
	color: grey;
	font-size: 14px;
}

.all-users-link:hover {
	color: black;
}

.profile-info {
	margin-top: 10px;
	margin-bottom: 20px;
}

.profile-info table{
  border-collapse: separate;
  border-spacing: 15px 0;
	width: auto;
	margin: 0 auto;
}

.profile-info-type {
  font-weight: bold;
  font-size: 12px;
  text-align: right;
}

.profile-info-text {
  text-align: left;
}

.house-img {
	width: 100px;
	height: auto;
}

h3 {
  font-size: 20px;
}

.profile-info, .profile-comment-section, .goal-section {
  /* border: 3px solid #defcff; */
  background-color: #cdeaff;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
}

.profile-comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-comment-section ul{
  list-style: none;
}

.profile-comment-section li, .goal-info{
  display: block;
  padding: 10px;
  background-color: #9fdcff;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 400px;
}

.profile-comment-section h3 {
  margin-bottom: 5px;
}


.profile-comment-section h4{
  margin-top: 5px;
  font-size: 18px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment-author-name {
	float: left;
	color: #737373;
}

.comment-footer {
	overflow: hidden;
}

.comment-date {
	margin-top: 3px;
	margin-bottom: 1px;
	font-size: 10px;
	text-align: right;
	color: grey;
}

.comment {
	text-align: left;
}

.goal-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cdeaff;
}

.goal-info {
  background-color: #406b8e;
  color: white;
}

.goal-info a {
  text-decoration: none;
  color: white;
}

.goal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goal-info h5 {
  font-size: 20px;
  display: inline-block;
}

.goal-info h6 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
}

.goal-section ul {
  list-style: none;
}

.goal-section h3 {
  margin-bottom: 10px;
}

.goal-title {
	width: inherit;
	word-wrap: break-word;
}

.goal-description {
	color: #d9d9d9;
	word-wrap: break-word;
	width: inherit;
}

.goal-date {
	margin-top: 7px;
	margin-bottom: 2px;
	font-size: 10px;
	align-self: flex-end;
	color: #d9d9d9;
}

.goal-comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goal-comment-section li {
  display: block;
  padding: 10px;
  background-color: #9fdcff;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 350px;
  color: black;
}

.comment-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.comment-buttons a, .comment-buttons input[type=submit] {
  display: block;
  font-size: 12px;
  padding: 0;
  background-color: white;
  color: black;
  border: none;
  width: 50px;
  margin-left: 10px;
  height: 20px;
  box-sizing: content-box;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  line-height: 20px;
  cursor: pointer;
}
.comment-buttons a:hover, .comment-buttons input[type=submit]:hover {
	background-color: #eaf0ff;
}

.comment-buttons a:active, .comment-buttons input[type=submit]:active {
	background-color: #cccccc;
}

.goal-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.goal-buttons a, .goal-buttons input[type=submit] {
  display: block;
  font-size: 12px;
  padding: 0;
  background-color: white;
  color: black;
  border: none;
  width: 50px;
  margin-left: 10px;
  height: 20px;
  box-sizing: content-box;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  line-height: 20px;
  cursor: pointer;
}

.goal-buttons a:hover, .goal-buttons input[type=submit]:hover {
	background-color: #eaf0ff;
}

.goal-buttons a:active, .goal-buttons input[type=submit]:active {
	background-color: #cccccc;
}

.goal-buttons span {
	font-size: 11px;
}

.goal-complete-button {
  font-size: 25px;
}

.user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  cursor: auto;
}

.user-list li a {
	display: block;
	height: 140px;
	width: 140px;
  position: relative;
	margin-left: 15px;
  margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: #00d0ff;
	border-radius: 40px;
  color: white;
  border: none;
	text-decoration: none;
	padding: 5px;
}


.user-list-item {
	width: 130px;
  display: block;
  font-size: 18px;
	word-wrap: break-word;
	margin: 0;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-list li a:hover {
	background-color: #71b3c1;
}

.user-list li a:active {
	background-color: #9de8f9;
}

.goal-form {
  text-align: left;
  width: 395px;
}

.new-goal-section {
  margin-top: 20px;
}

.new-goal-section h4{
  margin-bottom: 7px;
  font-size: 20px;
}

.new-goal-section textarea {
  margin-top: 10px;
}

.sign-log-in-form {
  background-color: #536db7;
  color: white;
  padding: 10px;
  padding-bottom: 15px;
}

.sign-log-in-form table{
  border-collapse: separate;
  border-spacing: 15px 10px;
}


.sign-log-in-button {
  font-size: 16px;
  padding: 0;
  background-color: white;
  color: black;
  border: none;
  width: 80px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  line-height: 20px;
  cursor: pointer;
  box-shadow: 0px 5px #113486;
}

.sign-log-in-button:hover {
  background-color: #eaf0ff;
}

.sign-log-in-button:active {
  transform: translateY(5px);
	box-shadow: none;
	background-color: #cccccc;
}

textarea {
  padding: 3px;
  font-size: 14px;
  border: 1px solid #cecece;
}

input[type=text], input[type=password], input[type=number]{
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 1px;
}

.button {
  margin-top: 8px;
  font-size: 12px;
  padding: 0;
  background-color: white;
  color: black;
  border: none;
  width: 70px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  line-height: 20px;
  cursor: pointer;
}

.button:hover {
	background-color: #eaf0ff;
}

.button:active {
	background-color: #cccccc;
}

hr {
  border: 0;
  width: 80%;
  color: #a3d3ef;
  background-color: #a3d3ef;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}
